* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: #f3f4f6;
}
.form {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.form-item {
  background-color: white;
  padding: 24px;
  width: 25%;
}
.form-group {
  margin-bottom: 16px;
}
label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: gray;
}
.form-control {
  width: 100%;
  border: none;
  background-color: #f1f5f9;
  padding: 16px 22px;
  outline: none;
}

.btn {
  display: block;
  width: 100%;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
}
.btn-dark {
  background-color: black;
  color: white;
}
h2 {
  text-align: center;
}

/* .container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: red;
  justify-content: space-evenly;
  align-items: center;
} 
/* .child {
  flex: 0 0 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-1 {
  background: blue;
  flex-grow: 3;
}
.child-2 {
  background: green;
  flex-grow: 2;
}
.child-3 {
  background: yellow;
  flex-grow: 1;
} */
